.coin-animate-enter {
  opacity: 0;
  transform: translateX(100px);
}
.coin-animate-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 300ms;
}
.coin-animate-exit {
  opacity: 1;
  transform: translateX(0px);
}
.coin-animate-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: all 300ms;
}
